%h1 Create A New Consumer
- form_tag :controller => 'consumers', :action => 'create', :method => :post do 
  %table
    %tr
      %td
        = label_tag "Name"
        = text_field_tag "consumer[name]"
    %tr
      %td
        = label_tag "Uuid"
        = text_field_tag "consumer[uuid]"       
    %tr 
      %td
        = label_tag "Type"
        = select_tag("consumer[type_id]", options_for_select(@types))
    - (1..10).each do |num|
      %tr
        %td
          = label_tag "Fact #{num}"
          = text_field_tag("entry[#{num}[key]]")
        %td
          = label_tag "Value"
          = text_field_tag("entry[#{num}[value]]")
          
    %tr
      %td=submit_tag 'update'
