%h1 Consumer #{@consumer.uuid}
%table
    %tr
        %th Name
        %td= @consumer.name
    %tr
        %th Id
        %td= @consumer.id
    %tr
        %th Type
        %td= @consumer.type_label        
    %tr
        %th uuid
        %td= @consumer.uuid
    %tr  
        %th certificate
        %td
            <a href="#" onclick="Effect.Appear('cert'); return true;" id="certShow">Show the Cert</a>             
            #cert{"style" => "display:none;"}
                %pre= @consumer.certificateString        
    %tr  
        %th key  
        %td
            <a href="#" onclick="Effect.Appear('key'); return true;" id="keyShow">Show the Key</a>          
            #key{"style" => "display:none;"}
                %pre= @consumer.keyString               
    %tr
        %th Facts
        %td  
    - @consumer.facts.entry.each do |fact|
        %tr
            %td
            %td= fact.key
            %td= fact.value  
                
= link_to 'Back', :back