%h1 Consumer #{@consumer.uuid}
%table
    %tr
        %th Name
        %td= @consumer.name
    %tr
        %th Id
        %td= @consumer.id
    %tr
        %th Type
        %td= @consumer.type_label        
    %tr
        %th uuid
        %td= @consumer.uuid
    %tr  
        %th certificate
        %td
            %pre= @consumer.certificateString        
    %tr  
        %th key
        %td
            %pre= @consumer.keyString              
= link_to 'Back', :back