%h3 Consumer #{@consumer.uuid}
%table
    %tr
        %th Name
        %td= @consumer.name
    %tr
        %th Id
        %td= @consumer.id
    %tr
        %th Type
        %td= @consumer.type_label        
    %tr
        %th uuid
        %td= @consumer.uuid            
    %tr
        %th Username
        %td= @consumer.username
    %tr
        %th Created
        %td= @consumer.created      
    %tr
        %th Created
        %td= @consumer.updated  