%h3 Consumer #{@consumer.uuid}

#consumerInfo
  %h3
    %a{:href=>'#'}
      General
  %div
    %table#general
      %tr
        %th Name
        %td= @consumer.name
      %tr
        %th Id
        %td= @consumer.id
      %tr
        %th Type
        %td= @consumer.type_label        
      %tr
        %th uuid
        %td= @consumer.uuid            
      %tr
        %th Username
        %td= @consumer.username
      %tr
        %th Created
        %td= @consumer.created      
      %tr
        %th Created
        %td= @consumer.updated 
      %tr
        %th Identity Certificate
        %td
          %a{:href=>"#", :onclick => "certDialog('Identity Certificate', '#{@consumer.uuid}');"}
            %img{:src=>"images/Doc.png"}
      %tr
        %th Private Key
        %td
          %a{:href=>"#", :onclick => "pKeyDialog('Private Key', '#{@consumer.idCert.key.dump}');"}
            %img{:src=>"images/Doc.png"}            
           
  %h3
    %a{:href=>'#'}
      Facts
  %div
    %table#facts
      %tr
        %th Fact Name
        %th Fact Value
      -@consumer.facts.entries.each do |fact|
        %tr
          %td=fact.key
          %td=fact.value  
      
  %h3
    %a{:href=>'#'}
      Entitlements
  %div
    %table#entitlements
      %tr
        %th
          ID
      -@consumer.my_entitlements.each() do |ent|
        %tr
          %td= ent.id
                    
        
        
:javascript
  $(document).ready(function(){
    $("#consumerInfo").accordion({
      fillSpace: true
    });
    $("#consumerInfo").resizable({
      resize: function() {
        $("#consumerInfo").accordion("resize");
      },
      minHeight: 140
    });
    $("#facts").colorize()    
    $("#general").colorize();    
    $("#entitlements").colorize();
   });
        