%h1 Create A New Owner
%table
  - form_for @owner do |f|
    %tr
      %td
        = f.label "Name:"
        = f.text_field :displayName
    %tr
      %td
        = f.label "Key:"    
        = f.text_field :key
    %tr
      %td    
        = f.submit 'update'
