%h1 Headpin Setup

- form_for :setup, :url => {:action => "update"} do |f|
  %table
    %tr
      %th= f.label "Candlpin Site"
      %td= f.text_field :site
    %tr
      %th= f.label "Username"
      %td= f.text_field :user  
    %tr
      %th= f.label "Password"
      %td= f.text_field :password            
    %tr
      %td
      %td= f.submit 'update'
      
  %h4= link_to "Init Candlepin", "#{CandlepinObject.site}admin/init"      