!!! XML
!!!
%html
    %head
        = stylesheet_link_tag "custom-theme/jquery-ui-1.8.1.custom"
        = stylesheet_link_tag "ui.jqgrid.css"    
        = stylesheet_link_tag "headpin"
        = stylesheet_link_tag "jqModal"   
        = stylesheet_link_tag "jquery.jgrowl"    
        = javascript_include_tag "jquery-1.4.2"
        = javascript_include_tag "jquery-ui-1.8.1.custom.min"
        = javascript_include_tag "jqModal"         
        = javascript_include_tag "jquery.jgrowl"    
        = javascript_include_tag "grid.locale-en"    
        = javascript_include_tag "jquery.jqGrid.min"
        = javascript_include_tag "jquery.form"
        = javascript_include_tag "jquery.cookie"   
        %title Headpin        
        :javascript           
            $(document).ready(function() {
              // Best way to tell if a server can not be reached.
              $(document).ajaxComplete(function(event, xhr, ajaxOptions) {
                if (xhr.status == 0) {
                    $.jGrowl("Server could not be reached");
                }
              });              
              $(document).ajaxError(function(event, xhr, ajaxOptions, error) {$.jGrowl(xhr.status + ' ' + xhr.statusText);});
              $("#tabs").tabs({
                  cookie: {expires: 1},
                  load: function(event, ui) {
                      $('a', ui.panel).click(function() {
                          $(ui.panel).load(this.href);
                          return false;
                      });
                  },
              });
            });         
        
    %body      
        #tabs         
            %ul.menu                 
                %li= link_to "Consumers", consumers_url
                %li= link_to "Consumer Types", consumertypes_url                
                %li= link_to "Owners", owners_url    
                %li= link_to "Products", products_url 
                %li= link_to "Pools", pools_url                    
                %li= link_to "Rules", rules_url                 
                %li= link_to "Status", status_url     
                %li
                    %br
                %li= link_to "Setup", setup_url    
