!!! XML
!!!
%html
    %head
        = stylesheet_link_tag "custom-theme/jquery-ui-1.8.1.custom"
        = stylesheet_link_tag "ui.jqgrid.css"    
        = stylesheet_link_tag "headpin"
        = stylesheet_link_tag "jqModal"       
        = javascript_include_tag "jquery-1.4.2.min"
        = javascript_include_tag "jquery-ui-1.8.1.custom.min"
        = javascript_include_tag "jqModal"           
        = javascript_include_tag "grid.locale-en"    
        = javascript_include_tag "jquery.jqGrid.min"      
    %title Headpin
%body
    #main 
        #top
            .logo
                =image_tag "headpin.png", :size=>"32x81"          
        #left         
            %ul.menu                 
                %li= link_to "Consumers", consumers_url
                %li= link_to "Consumer Types", consumertypes_url                
                %li= link_to "Owners", owners_url    
                %li= link_to "Products", products_url 
                %li= link_to "Pools", pools_url                    
                %li= link_to "Rules", rules_url                 
                %li= link_to "Status", status_url     
                %li
                    %br
                %li= link_to "Setup", setup_url         
                
        #right
            = yield
        #bottom
